@import 'modules/_reset';
@import '_vars';

html, body {
    height: 100%;
}

img, video, embed, object {
    max-width: 100%;
}

body {
    background-color: $black;
    font-family: $font;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

#app {
    min-height: 100vh;
}

.logo {
    transition: all ease .5s;
    img {
        width: 80px;
    }
}

.logo:hover, .logo:focus {
    //opacity: .5;
    @include scale;
}

.thumb {
    width: 15%;
    img {
        width: 100%;
    }
    cursor: pointer;
    transition: all .5s ease;
}

.thumb:hover, .thumb:focus {
    @include scale;
    color: $purple;
}

.player {
    border: $purple 2px solid;
    border-radius: 8px;
}

.icon {
    color: $purple;
    border: $purple 1px solid;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: color .5s ease;
    transition: border .5s ease;
}

.fa-volume-down {
    border-radius: 30px;
    padding: 10px 12px;
}


.icon:hover, .icon:focus {
    color: white;
    border: white 1px solid;
}

::cue {
    font-size: 1.2em;
}

#progress {
    background-color: $black;
    width: 100%;
}

button {
    border: $purple 2px solid;
    border-radius: 8px;
    background-color: $black;
    color: $purple;
    transition: all .5s ease;
}

button:hover, button:focus {
    color: white;
    border: white 2px solid;
}

.transcript {
    display: none;
}

.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    background-color: $purple;
}

@media screen and (min-width: 768px)
 {
    p {
        font-size: 1.2em
    }
 }